@{
    ViewBag.Title = "Course List";
}

<div class="jumbotron">
    <h1>Courses</h1>
</div>

<div ng-controller="CourseController">
    <div class="row">
        <a class="btn btn-info" href="/course/form">New</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Teachers</th>
                    <th scope="col">Students</th>
                    <th scope="col">Avarage Grade</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody ng-repeat="course in courses">
                <tr>
                    <td>{{ course.Name }}</td>
                    <td>{{ course.TeachersCount }}</td>
                    <td>{{ course.StudentsCount }}</td>
                    <td>{{ course.AvarageGrades }}</td>
                    <td><a class="btn btn-info" href="/course/form/{{course.ID}}">Update</td>
                    <td><a class="btn btn-info" href="" ng-click="deleteCourse(course.ID)">Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/controllers/CourseController.js")
}